<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>{{ this_user.first_name }} {{ this_user.last_name }}</title>
  </head>
  <body>
  <a href="/">Go Home</a>
<div class="container">
    <h3>{{ this_user.first_name }} {{ this_user.last_name }}</h3>
    <p>Email: {{this_user.email}}</p>
    <p>Favorite Number: {{this_user.fav_number}}</p>
    <p>Motto: {{this_user.motto}}</p>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Artist</th>
                <th scope="col">Title</th>
                <th scope="col">Release Date</th>
                <th scope="col">Genre</th>
            </tr>
        </thead>
        <tbody>
            {% for album in this_user.albums.all %}
            <tr>
                <th scope="row">{{album.artist}}</th>
                <td>{{album.title}}</td>
                <td>{{album.release_date}}</td>
                <td>{{album.genre}}</td>
            </tr>
            {% endfor%}
        </tbody>
    </table>
</div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>
</html>