h4{
    border:3px solid black;
    align:center;
    font-family: Courier New, Courier, monospace;
}
p{
    border:3px solid black;
    align:center;
}


body{
    background-color: rgb(59, 59, 168);
    text-align: center;
    width:40%;
    margin-left:25%;
}
.random_box{
    text-align:center;
}